*{
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.main{
    padding: 1rem;
    margin: 1rem;
}

body{
    background-color:#FFC155 ;
}

.imgBackground{
    flex-direction: column;
}

@media only screen and (min-width: 768px){
    .main {
        max-width:1024px;
        margin: 0 auto;
    }
}