
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#0A090A;
    border-radius: .5rem;

}

.header .photo{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 15px;
  
}

.header .title{
    text-align: center;
    color: #ffff;
    
}

.header .informations{
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

.informations .p{
    margin: .5rem;
}